{%extends "base.html"%}

{%block body%}
<div>
    <div class="about-me">
        <div class="about-me-text">
            <div class="profile-pic">
                <img src="{{url_for('static', filename='janet.png')}}" />
            </div>
            <h1>
                Welcome! 
            </h1>
            <h3> My name is Janet Perez and I hold a Bachelor's in Math and Biology from Binghamton University. I am a math instructor at Sponsors for 
                Educational Opportunity (SEO) Scholars and a math tutor at Mathnaisum of Manhattan, but I am interested in making the transition from math 
                tutoring to a data science careeer with applications in bioinformatics. Currently I am developing my technical skills through The Knowledge House(TKH) 
                and I want to supplement my biology and math foundations with the data science training that the TKH 2020 Innovation fellowship offers.
            </h3> 
        </div>
    </div>
    <h3>My Data Science Projects</h3>
    <a href="projects"><h3>COVID-19</h3></a>
</div>

{%endblock%}
